{extend name="base/base" /}
{block name="main"}

<div class="layui-row layui-col-space10">
    <div class="layui-col-lg6 layui-col-md12">
        <blockquote class="layui-elem-quote title">系统基本参数</blockquote>
        <table class="layui-table magt0">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <td>当前版本</td>
                <td class="version">1.4.1</td>
            </tr>
            <tr>
                <td>开发作者</td>
                <td class="author">原点</td>
            </tr>
            <tr>
                <td>服务器环境</td>
                <td class="server">{$Think.const.PHP_OS}</td>
            </tr>
            <tr>
                <td>运行环境</td>
                <td class="">{$Request.server.SERVER_SOFTWARE}</td>
            </tr>
            <tr>
                <td>ThinkPHP版本</td>
                <td class="server">{$Think.VERSION}</td>
            </tr>
            <tr>
                <td>数据库版本</td>
                <td class="dataBase">{:db()->query('select version() as version')[0]['version']}</td>
            </tr>
            <tr>
                <td>最大上传限制</td>
                <td class="maxUpload">{:ini_get('upload_max_filesize')}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript" src="/layui/layui.js"></script>
<script>
    var layer;
    layui.use(['layer'],function(){
        layer = parent.layer === undefined ? layui.layer : top.layer;
    })
    //捐赠弹窗
    function donation(){
        layer.tab({
            area : ['340px', '385px'],
            tab : [{
                title : "微信",
                content : "<div style='padding:5px;overflow:hidden;background:#d2d0d0;'><img src='/images/wechat.png'></div>"
            },{
                title : "支付宝",
                content : "<div style='padding:5px;overflow:hidden;background:#d2d0d0;'><img src='/images/alipay.png'></div>"
            }]
        })
    }
</script>
{/block}